@import '../vendor/materialize/sass/components/color-variables';
@import '../vendor/materialize/sass/components/color-classes';
@import '../vendor/materialize/sass/components/variables';

nav {
  &.top-nav {
    height: 45px;
    line-height: 45px;
    .brand-logo {
      img {
        height: 30px;
        top: 4px;
        position: relative;
        left: 5px;
      }
    }
    .nav-wrapper {
      i {
        height: 45px;
        line-height: 45px;
      }
    }
  }
  .dropdown-content {
    a {
      display: flex;
      margin: 0 !important;
      i {
        margin: 0;
        margin-right: 2px;
      }
    }
  }
}
